<html>
	<head>
		<title>
			File Browser
		</title>
		<link rel="stylesheet" href="../css/base_generic.css">
		<link rel="stylesheet" href="../css/bootstrap.css">
	</head>
	<body style="background-color: #606b73;">
		<!-- navbar color: 222325-->
		&nbsp
		&nbsp
		<div id="card-container">
			<div class="card mx-auto" 
				style="width: 90rem; height: 40rem; text-align: center; box-shadow: 0px 10px 50px black; background-color: bbc1c4;">						
				<div class="card-body">
					
				</div>
			</div>
		</div>
	</body>
</html>