<!--Nav Bar-->

<!DOCTYPE html>
<html>
<head>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../css/base_generic.css">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<!-- Jquery and datatables -->
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../css/dataTables.css">
    <!-- Bootstrap core and jquery-ui JavaScript -->
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/dataTables.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #222325;">
  <a class="navbar-brand" href="#" style="color:#08C969">HPE File browser</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Systems <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Logout</a>
      <a class="nav-item nav-link" href="#">Help</a>
    </div>
  </div>
</nav>

</body>
</html>