<html>
	<head>
		<title>
			HPE File Browser
		</title>
		<link rel="stylesheet" href="../css/base_generic.css">
		<link rel="stylesheet" href="../css/bootstrap.css">
	</head>
	<body>
		<div class="container">
		  <div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			  <div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center">Login</h5>
					<center><h5 class="card-title text-center">File Browser</h5></center>
				  <form class="form-signin">	
					<center><div class="form-label-group">
					  <input type="username" id="inputUsername" class="form-control" placeholder="username" required autofocus>
					</div></center>
					<center><div class="form-label-group">
						<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
						</div>
						<hr />
					<center><button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button></center>
					<hr class="my-4">
				  </form>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </body>
</html>