{% extends "browser/base_generic.html" %}
{% load static %}

{% block content %}	
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/table_page.css' %}">	
	<link rel="stylesheet" href="{% static 'css/datatables.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/files_page.js' %}"></script>
	
	<!-- Files Header -->
	<div id="FileHeader">
		<h1 class="mb-2 file-header">Company's Files</h1>
		<h5 class="system-id">System ID: 38510</h5>
	</div>

	<!-- Files Table -->
	<div class="table-responsive" style="overflow-x: auto;">
		<table id="files-table" class="table  table-bordered my-5 browser-table">
			<col width= "33.33333%">
			<col width= "33.33333%">
			<col width= "33.33333%">

			<!-- Column Headers -->
			<thead>
				<tr class="table-secondary">
					<th>File Name</th>
					<th>Date</th> 
					<th>Download Link</th>
				</tr>
			</thead>

			<!-- Table -->
			<tbody class="table-light">
				{% if file_list %}			
					{% for file in file_list %}
						<tr>
							<td>{{file.FileID}}</td>
							<td>{{file.dataDate}}</td>
							<td> <a href="{%static file.filePath %}" download> Download </a> </td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}