{% extends 'browser/base_generic.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/help.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/help.js' %}"></script>

<h1>FileSublime<span class="badge badge-secondary"></span></h1>

<div id="help-container" class="center-section">
	<ul class="nav nav-tabs">
		<li class="nav-item active"><a class="nav-link" href="#welcome">Welcome</a></li>
		<li class="nav-item"><a class="nav-link" href="#tutorial">Tutorial</a></li>
	</ul>

	<div class="tab-content">
		<div id="welcome" class="tab-pane fade in active help-section">
			<h4>Welcome</h4>
			<p>
				For HPE support users who need to download specific HPE system files, FileSublime
				is a file browser that provides access to raw support files, previously only
				indirectly available through other support tools. Our product is a simple and
				direct way to retrieve raw data.
			</p>
			<p>
				FileSublime is used to filter through specific Json files which contain certain
				identifying information, such as system and date.
			</p>
		</div>
		<div id="tutorial" class="tab-pane fade help-section">
			<h4>Navigation Bar</h4>
			<p>
				At the top of every page there is the navigation bar. You can use this to help
				navigate the web app or view the help section. There is a “Systems” button that
				brings you to the systems page, a “Logout” button that logs the current user out
				and a “Help” button that brings up the help page.
			</p>
			<h4>Systems Page</h4>
			<p>
				By default, you are brought to the systems page. This lists all the systems in a
				table along with some identifying information. It shows a system’s system ID,
				associated company name and the number of files associated with that system. You 
				can use the search bar in the upper right to filter systems and find the one you 
				are looking for. To filter each column you can click the column header to sort in either ascending or descending order. To view the files for a system, click on the respective system’s
				system ID. This will bring you to the system’s file page. 
			</p>
			<h4>Files Page</h4>
			<p>
				On the file page you can view all the files associated with a system along with
				some identifying information. At the top of the page, you can see the system you
				are browsing’s company name and the system ID. Below that is a table listing all
				of the files for that system. Each file has a file name and date. You can search
				for files within a system by using the search bar on the top right hand corner of
				the table. Once you find the file you want to download, you can click “Download” 
				on that file’s table row.
			</p>
			<h4>Capacity Alert</h4>
			<img style="outline-style: solid;" src="{% static 'images/Gradient Bar.png' %}" alt="0% Capacity is dark red, 30% is light red and >30% is white." align="middle" width="50%" >
			<p>
				You may notice that some cells for the free capacity are colored in different in 
				different shades of red. This is to show how much capacity is left on a specific 
				system. The darker red color, the closer to 0% free capacity is left on the system.
				The ligher the red color the closer to 30% free capacity is left on the system. Any
				system that has more than 30% free capacity will be colored white. 
			</p>
		</div>
	</div>
</div>

<!--
<p>
    <a class ="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Q&A</a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Search for file by click on the systems link and search for system you are interested in.
    </div>
</div>
-->
{% endblock %}
