{% extends 'browser/base_generic.html' %}

{% block content %}
<h1>Welcome to the file browser<span class="badge badge-secondary"></span></h1>
<p>
    <a class ="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Q&A</a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Search for file by click on the systems link and search for system you are interested in.
    </div>
</div>
{% endblock %}