{% extends 'browser/base_generic.html' %}
{% load static %}

{% block content %}
<style>
    .browser-card {
        text-align: center;
        box-shadow: 0px 10px 50px black;
        background-color: bbc1c4 !important;
        margin-right: auto !important;
        margin-left: auto !important;
        margin-top: 6rem !important;
        min-width: 30rem;
        width: 50%;
    }
    .login-form {
        margin: auto;
        text-align: left;
        width: 50%;
    }
    .login-form input {
        margin-top: 8px;
    }
    .btn {
        margin: auto;
        margin-top: 20px;
    }
    .navbar {
        display: none;
    }
</style>


<h1>File Browser<span class="badge badge-secondary"></span></h1>
<p>
    <form method="post">
      {% csrf_token %}
        <div class="login-form">
            <h4>Log-in</h4>
            <input type="text" placeholder="Username" name="username" class="form-control" id="usr">
            <input type="password" placeholder="Password" name="password" class="form-control" id="psw">
            {% if error %}          
                    <p style="color:red;">{{error.0}}</p>
            {% endif %}
        </div>
        <button id="submit" type="submit" class ="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false">Login</button>
    </form>

</p>
{% endblock %}