.background {
	background-color: #606b73;
}

.browser-card {
	/*height: 40rem;*/
	text-align: center;
	box-shadow: 0px 10px 50px black;
	background-color: bbc1c4 !important;
}

.browser-nav-bar {
	background-color: #222325;
}

.hpe-green {
	color: #08C969;
}

.link {
	text-decoration: none;
}

.link:hover:hover {
	text-decoration: underline;
}