.center-section {
	margin: 15px 15% 5px 15%;
	border-radius: 5px 5px 5px 5px;
	background-color: #FFFFFF;
}

.help-section {
	text-align: left;
	padding: 20px 5% 20px 5%;
	border-radius: 0px 0px 5px 5px;
	background-color: #FFFFFF;
}

.version {
	text-decoration: underline;
}

.nav-tabs {
	background-color: #D6D8DB;
	border-radius: 5px 5px 0px 0px;
}