.browser-table {
	width:100%;
	table-layout: fixed;
}

.file-header {
	margin: 0 auto;
	width: 100%;
	text-shadow: 1px 3px 2px rgba(0,0,0,0.1);
	color: #34305e;
}

.system-id {
	float: left;
	text-align: left;
	text-shadow: 1px 3px 2px rgba(0,0,0,0.1);
	color:#34305e;
}